<div class="top container-fluid">
    <div class="row">
        <div class="col-md-3 d-none d-md-block sidebar mt-4">
            <h2 class="">Build an Expression</h2>
            <p>Click on an item to add it as a column.</p>
            <div>
                <div class="card text-white mb-3 clickable" style="width:18rem;" ng-repeat="control in controls" ng-click="handleControlClick($event, control)">
                    <h5 class="card-header">{{control.Name}}</h5>
                    <div class="card-body">
                        <p class="card-text">{{control.Description}}</p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-9 ml-sm-auto col-lg-9 px-4 mt-4 pb-4">
            <h1 class="">Regex Helper</h1>

            <h2 class="mt-4">Text Input (from statement)</h2>
            <textarea class="form-control input-textarea" ng-model="textInput" ng-change="applyRegex()"></textarea>
            
            <h2 class="mt-4">Generated Regex</h2>
            Search: <input type="text" class="form-control input-text" ng-value="generateRegex()">
            Replace: <input type="text" class="form-control input-text" ng-value="generateReplaceRegex()">
            <br />
            <p>TODO: build out interactive view to allow deleting / inserting into the middle. Possibly just deleting the last option like a stack (if the last option is too hard).</p>
            <button class="btn btn-secondary mt-3" ng-click="clearRegexList()">Reset</button>

            <div class="limited-table">
                <h2 class="mt-4">Output Table Visualization</h2>
                <table class="table limited-table">
                    <thead>
                        <th ng-repeat="control in currentRegexList track by $index">{{ control.Name }}</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="line in parsedLines track by $index">
                            <td ng-repeat="match in line track by $index">{{match}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h2 class="mt-4">Output Tabs</h2>
            <textarea class="form-control input-textarea" ng-model="tabLinesOutput" ></textarea>
            <button class="btn btn-secondary">Copy</button>

            <h2 class="mt-4">Missed Rows</h2>
            <textarea class="form-control input-textarea" ng-model="missedRowsOutput" ></textarea>         
            
            <br>
            <button class="btn btn-secondary" ng-click="toggleDebugOutput()">{{debugButtonMessage}}</button>
            <div class="mt-4" ng-show="showDebug">
                Debug Output:
                <!--<pre>{{parsedLines | json}}</pre>-->
                <pre>{{unmatchedLines | json}}</pre>
            </div>
            
        </div>
    </div>
</div>
